@charset "utf-8";

a {
    color: #FF8400;
}

a:active {
    color: #FF8400;
}

a:visited {
    color: #FF8400;
}

a:link {
    color: #FF8400;
}

ul.MenuBarHorizontal a {
    color: #FF8400;
}

ul.MenuBarHorizontal a:active {
    color: #FF8400;
}

ul.MenuBarHorizontal a:visited {
    color: #FF8400;
}

ul.MenuBarHorizontal a:link {
    color: #FF8400;
}

.list_headings {
    font-family: Vijaya;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    color: #FF8400;
}

body {
    background-color: #333333;
    font-family: Vijaya;
    font-size: 8ex;
    font-style: normal;
    font-weight: bold;
    color: #FF8400;
    text-align: center;
}

h1 {
    font-family: "Baskerville Old Face";
    font-size: 36px;
    color: #FF8400;
}

h3 {
    font-family: "Baskerville Old Face";
    font-size: 18px;
    color: #FF8400;
}

h2 {
    font-size: 16px;
    color: #FF8400;
    font-family: "Baskerville Old Face";
}

p {
    font-family: "Baskerville Old Face";
    font-size: 40pt;
    color: #FF8400;
    font-style: italic;
}

.img_right_float {
    float: right;
}

.img_left_float {
    float: left;
}